<h1>Alumnos</h1>
<h4>Listado de alumnos en el sistema</h4>
<hr>
<div class="row" align="right">
<a href="#/alumno/nuevo"class="btn btn-info"><i  class="fas fa-user-plus"></i> Crear alumno</a>
<br> <br>

</div>
<div class="row">
	<table class="table table-striped">
		<tr>
			<th>Codigo</th>
			<th>Nombre</th>
			<th>Telefono</th>
			<th>Direcion</th>
			<th>Ver</th>
		</tr>

		<tr ng-repeat="alumno in alumnos | limitTo:posicion | limitTo:-5">
			<td>{{alumno.codigo}}</td>
			<td>{{alumno.nombre}}</td>
			<td>{{alumno.telefono| telefono}}</td>
			<td>{{alumno.direccion}}</td>
			<td><a href="#/alumno/{{alumno.codigo}}">Ver registro</a></td>
		</tr>
	</table>
	<br>
	<button class="btn btn-primary" ng-click="atras()">Anteriores</button>
	<button class="btn btn-primary" ng-click="siguientes()">Siguientes</button>
	
</div>